.upload_form > table > th{
    height: 27px;
}
.upload_form > table > td{
    height: 27px;
}

.upload_subtitle[type="text"]{
    width: 400px;
    height: 27px;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 16px;
}
.upload_number[type="number"]{
    width: 100px;
    height: 27px;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 16px;
}
.upload_downloadfrom[type="text"]{
    width: 150px;
    height: 27px;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 16px;
}
.upload_th2{
    width: 60px;
}
.upload_td2{
    text-align: center;
}
.upload_th3{
    width: 70px;
}
.upload_center{
    text-align: center;
}
#upload{
    display: block;
}
#uploading{
    display: none;
}
#uploading > img{
    width: 300px;
    margin: 20px calc((100% - 300px) /2);
}
.upload_mainMessage{
    font-size: 26px;
}